name: Build and deploy JAR app to Azure Web App - rafaela-java-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java version
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean package -DskipTests 

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: '${{ github.workspace }}/target/app.jar'

  deploy:
    runs-on: ubuntu-latest
    needs: build
  
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app
      
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'rafaela-java-api'
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
          package: 'app.jar'